{% load static %}
{% load grouping %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>SLUGS - 
            {% block title %}
            BSSL
            {% endblock %}
        </title>
        <meta name="title" content="SLUGS">
        <meta name="description" content="The Sound and Lights User Grouping System for BSSL employees">

        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://slugs.bssl.binghamtonsa.org{{request.get_full_path}}">
        <meta property="og:title" content="S.L.U.G.S.">
        <meta property="og:description" content="The Sound and Lights User Grouping System for BSSL employees">
        <meta property="og:image" content="https://slugs.bssl.binghamtonsa.org/static/img/logo/logo-social.png">

        <!-- Twitter -->
        <meta property="twitter:card" content="summary_large_image">
        <meta property="twitter:url" content="https://slugs.bssl.binghamtonsa.org{{request.get_full_path}}">
        <meta property="twitter:title" content="S.L.U.G.S.">
        <meta property="twitter:description" content="The Sound and Lights User Grouping System for BSSL employees">
        <meta property="twitter:image" content="https://slugs.bssl.binghamtonsa.org/static/img/logo/logo-social.png">

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/uikit.min.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/base.css' %}"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"> </script> 
        <script src="{% static 'js/uikit.min.js' %}"></script>
        <script src="{% static 'js/uikit-icons.min.js' %}"></script>
        {% block headincludes %} {% endblock %}
    </head>
    <body>
        <nav>
            <a href="/"><div id="nav-logo">
                <img uk-svg src="{% static 'img/logo/logo.svg' %}"/>
            </div></a>
            <a href="{% url 'gig:index' %}">Shows</a>
            <a href="{% url 'training:index' %}">Training</a>
            <a href="{% url 'employee:index' %}">User</a>
            {% if request.user|has_group:"Manager" %}
            <a href="{% url 'admin:index' %}">Admin</a>
            {% endif %}
            <div id="nav-user">
                <!-- <img src="{% static 'img/user/userProfile.png' %}"/> -->
                <div class="uk-inline uk-visible@m">
                    <a style="margin-left: 0;" href="#"><span style="margin: 0;">Hey there,</span>
                    {{user.first_name}}</a>
                    <div  uk-dropdown="delay-hide:1000,duration:100">
                        <a href="{% url 'auth:logout' %}">Logout</a>
                    </div>
                </div>
                <div class="uk-hidden@m">
                    <a href="#offcanvas-nav"  uk-icon="icon: menu" uk-toggle></a>
                </div>
            </div>
        </nav>
        <div class="section">
            {% for message in messages %}
            <div uk-alert {% if message.tags %} class="notification {{ message.tags }}"{% endif %}>{{ message|safe }}</div>
            {% endfor %}
        </div>
        <div id="content">
            {% block content%}
            {% endblock content %}
        </div>
        <div id="offcanvas-nav" uk-offcanvas>
            <div class="uk-offcanvas-bar">
        
                <button class="uk-offcanvas-close" type="button" uk-close></button>
        
                <h3>Hey! <br>{{user.first_name}}</h3>
                <div class="links">
                    <a href="{% url 'auth:logout' %}">Logout</a>
                </div>
            </div>
        </div>
    </body>
</html>