{% if next_job %}
    {% if gig_happening %}
    <div class="flex text-black bg-white">
        <div class="mx-auto text-mono">
            <h5 class="font-bold">{{next_gig.name}}</h5>
            <h4>The show ends at: {{next_gig.end}}</h4>
            <h4>Your load out ends at: {{your_load_ins.last.load_out}}</h4>
        </div>
    </div>
    {% else %}
    <div class="flex flex-col text-black bg-gray-300">
        <div class="mx-auto text-center text-mono">
            <h3>Your next show is:</h3>
            <h5 class="font-bold">{{next_gig.name}}</h5>
            <h4>Your load in is at: {{your_load_ins.first.load_in}}</h4>
        </div>
        <!-- <div class="relative w-full p-2 mx-2 overflow-y-scroll">
            {% for loadin in load_in_info %}
                <div class="relative p-2 text-white bg-black rounded-lg opacity-0" style="left: {{loadin.relative_start}}rem; width: {{loadin.realtive_end}}rem;">
                    {{loadin.loadin.get_department_display}}
                </div>
                <div class="absolute top-0 p-2 text-white bg-black rounded-lg" style="left: {{loadin.relative_start}}rem; width: {{loadin.realtive_end}}rem;">
                    <div class="sticky m-0 w-min" style="left:0px;">{{loadin.loadin.get_department_display}}</div>
                </div>
            {% endfor %}
        </div> -->
    </div>
    {% endif %}
{% else %}
{% endif %}