*.json
*.sqlite3
__pycache__
.env
.vscode/
*.sqlite3
passenger_wsgi.py
calendar_service_account.json
__pycache__/
uploads/
media/
exports/
.DS_Store
.coverage
migrations/
htmlcov/
locale/
dependancy_tree.txt