{% extends 'theme/base.html' %}
{% load static %}

{% block nav %}{%endblock%}

{% block content %}
<div class="flex flex-col justify-center h-screen">
    {% for message in messages %}
        <div {% if message.tags %} class="rounded-sm py-2 {{ message.tags }}"{% endif %}>{{ message|safe }}</div>
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div class="py-2 text-lg text-center text-black bg-red-500">
                {{error}}
            </div>
        {% endfor %}
    <div class="mx-auto my-auto">
        <object class="w-full filter invert" type="image/svg+xml" data="{% static 'img/logo/logo-in.svg' %}">SLUGS logo</object>
        <h1 class="text-4xl text-center font-stencil">
            S.L.U.G.S.
        </h1>
        <div id="login my-4">
            <h4 class="text-lg">
                Forgot your password?
            </h4>
            <h5>
                Give us your email and we'll get you a new one.
            </h5>
            <form class="space-y-2" method="POST">
                {% csrf_token %}
                <label for="id_email">Email:</label><br>
                <input class="text-black uk-input" type="email" name="email" autocomplete="email" maxlength="254" required="" id="id_email"><br>
                <input type="submit" class="p-2 text-black bg-white rounded-none hover:bg-gray-300 hover:cursor-default" value="Send me instructions"/>
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block footer %}{% endblock %}