{% extends "base.html" %}
{% load static %}

{% block title %}
Training
{% endblock %}

{% block headincludes %}
<link rel="stylesheet" href="{% static 'training/css/index.css' %}" />
<script src="{% static 'training/js/index.js' %}"></script>
{% endblock %}

{% block content %}
<div class="section">
    <div class="title">Training Materials</div>
    <span>Training materials are loaded directly from our Google Drive, they may take a second to pop up</span>
    <iframe src="https://drive.google.com/embeddedfolderview?id=1RE8u9tS6FmksGi7_mRRS0jjejvAi8acV#grid"
        style="width:100%; height:600px; border:0;"></iframe>
</div>
<div class="section">
    <div class="title">SLUGS documentation</div>
    <span>This is lifted directly from the <a href="https://github.com/Binghamton-SSL/SLUGS/wiki">Github Wiki</a>, for full documentation, refer to that.</span>
    <div class="wiki">
        <p><img src="https://user-images.githubusercontent.com/10392896/84961689-f1870580-b0d2-11ea-8e4a-c66a094ed30c.png"
                alt="logo"></p>
        <h1 id="welcome-to-the-slugs-documentation-">Welcome to the SLUGS documentation!</h1>
        <p>SLUGS (SeLecive User Grouping System) is a webapp that BSSL will use to manage employees, shows, and general
            managerial tasks. The goal of this custom built software is to make all of our jobs easier. </p>
        <p><strong>If there is anything you think should be a part of slugs, let us know! You can either reach out to
                the Sysadmin directly (currently <a href="mailto:slugs@joebabbitt.com">Joe Babbitt</a>) or <a
                    href="mailto:bssl@binghamtonsa.org">email management</a>.</strong> </p>
        <h2 id="overview-">Overview:</h2>
        <p>SLUGS is a closed system accessible anywhere for registered employees at <a
                href="https://slugs.bssl.binghamtonsa.org">slugs.bssl.binghamtonsa.org</a>. It acts as a hubs for
            employees to register for shows, view details once they&#39;ve been assigned, and help us save paperwork.
        </p>
        <h2 id="guides-">Guides:</h2>
        <h4 id="general">General</h4>
        <ul>
            <li><a href="https://github.com/Binghamton-SSL/SLUGS/wiki/Information-for-New-Hires">Information for <strong>New Hires</strong></a></li>
            <li><a href="https://github.com/Binghamton-SSL/SLUGS/wiki/Onboarding">Signing Up</a></li>
            <li><a href="https://github.com/Binghamton-SSL/SLUGS/wiki/Navigating-around-SLUGS">Navigating around SLUGS</a>
                <h4 id="shows">Shows</h4>
            </li>
            <li><a href="https://github.com/Binghamton-SSL/SLUGS/wiki/How-to-sign-up-for-work">How to sign up for work</a></li>
            <li><a href="https://github.com/Binghamton-SSL/SLUGS/wiki/An-overview-of-&quot;Showview&quot;">An overview of &quot;Showview&quot;</a></li>
            <li><a href="https://github.com/Binghamton-SSL/SLUGS/wiki/Filling-out-and-submitting-a-&quot;Day-of-Show&quot;---&quot;Showview&quot;-for-Engineers">Filling
                    out and submitting a &quot;Day of Show&quot; / &quot;Showview&quot; for Engineers</a>
                <h4 id="employee-resources">Employee Resources</h4>
            </li>
            <li><a href="https://github.com/Binghamton-SSL/SLUGS/wiki/Updating-your-Info#i-forgot-my-password">I forgot my password</a></li>
            <li><a href="https://github.com/Binghamton-SSL/SLUGS/wiki/Updating-your-Info">Updating your Info</a></li>
            <li><a href="https://github.com/Binghamton-SSL/SLUGS/wiki/Training">Training</a></li>
            <li>Payroll (Coming soon!)</li>
        </ul>

    </div>
</div>
<!-- <div class="section">
    <div class="title">Request Training</div>
    <form class="user-form" method="POST" action="{% url 'employee:index' %}">
        {% csrf_token %}
    </form>
</div> -->
{% endblock %}