{% extends "theme/base.html" %}
{% load grouping %} {% load crispy_forms_tags %} {% load static %}
{% block title %} - {{request.user.first_name}} {{request.user.last_name}} - Auto-sign form{% endblock %}
{% block content %}
<div class="flex flex-col max-w-5xl mx-auto mt-10">
    <h1 class="text-3xl">Automatically Sign {{paperwork.form}}</h1>
    <div class="p-5 m-4 text-black bg-red-300 rounded-sm"> 
        <h2>
            By signing this form electronically using your signature, you agree to the following:
        </h2>
        <ul class="list-disc">
            <li class="text-black">
                Your signature will be binding and held to the same standard as a physical signature
            </li>
            <li class="text-black">
                Clicking "Sign Form using Signature on File" shows your clear intent to sign <a class="underline" href="/media/{{paperwork.form.form_pdf}}">{{paperwork.form}}</a>
            </li>
            <li class="text-black">
                You've been given the option to sign and submit this form manually (just use the upload functionality instead if you wish)
            </li>
            <li class="text-black">
                You're awesome
            </li>
        </ul>
    </div>
    <div class="mt-5">
        {% crispy form %}
    </div>
</div>
<style>
    label {
        color: white!important;
    }
    ul {
        color: rgb(228, 225, 225)!important;
    }
    .clearablefileinput {
        color:rgb(228, 225, 225);
        border-radius: 2px;
    }
    #div_id_pdf a {
        text-decoration: underline;
        margin-right: 1rem;
    }
</style>
{% endblock %}