{% extends "theme/base.html" %}
{% load grouping %} {% load crispy_forms_tags %} {% load static %}
{% block title %} - {% if request.user.preferred_name %}{{request.user.preferred_name}} {% else %} {{request.user.first_name}} {% endif %} {{request.user.last_name}} - Change Password{% endblock %}

{% block content %}
<div class="flex flex-col max-w-5xl mx-auto mt-10">
    <h1 class="text-3xl">Change Password</h1>
    <div class="mt-5">
        {% crispy form %}
    </div>
</div>
<style>
    label {
        color: white!important;
    }
    ul {
        color: rgb(228, 225, 225)!important;
    }
</style>
{% endblock %}