{% extends "base.html" %}
{% load static %}
{% load grouping %}

{% block title %}
Profile
{% endblock %}

{% block headincludes %}
<link rel="stylesheet" href="{% static 'employee/css/index.css' %}"/>
{% endblock %}

{% block content %}
<div class="section">
    <span class="title">Profile:</span>
    <form class="user-form" method="POST" action="{% url 'employee:index' %}">
        {% csrf_token %}
        <p><label for="id_email">Email:</label> <input readonly="readonly" class="uk-input" value="{{user.email}}" type="email" name="email" maxlength="255" required="" id="id_email"></p>
        <a href="{% url 'employee:changePassword' %}"><button type="button" class="uk-button">Change Password</button></a>
        <p><label for="id_bnum">B Number: B-</label>{{user.bnum}}</p>
        You are currently a: 
        {% for group in user.groups.all %}
            <span class="uk-badge">{{group}}</span>
        {% endfor %}
        <br><br>
        <div>
            <p><label for="id_first_name">First name:</label> <input class="uk-input" value="{{user.first_name}}" type="text" name="first_name" maxlength="100" required="" id="id_first_name"></p>
            <p><label for="id_last_name">Last name:</label> <input class="uk-input" value="{{user.last_name}}" type="text" name="last_name" maxlength="100" required="" id="id_last_name"></p>
        </div>
        <p><label for="id_phone_number">Phone number:</label> <input class="uk-input" value="{{user.phone_number}}" type="tel" name="phone_number" required="" id="id_phone_number"></p>
        <input type="submit" class="uk-button" value="Update Information"/>
    </form>
</div>
<script>
    {% if message %}
    UIkit.notification({message: '{{message}}', status: 'success'})
    {% endif %}
    {% if messageError %}
    UIkit.notification({message: '{{messageError}}', status: 'danger'})
    {% endif %}
</script>
{% endblock %}