{% extends "theme/base.html" %} {% load grouping %} {% load crispy_forms_tags %} {% load static %}
{% block title %}- Office Hours{% endblock %}
{% load gig_components %}
{% block content %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="{% static 'js/jquery.formset.js' %}" type="text/javascript"> </script>
<div class="max-w-5xl m-4 md:mx-auto">
    <h1 class="text-4xl">Manager Office Hours</h1>
    <h2 class="text-xl">Don't worry if it looks like your shifts are dissapearing! Only shifts that are unprocessed will show up here. If they're contested or processed they'll be on your <a class="underline" href="{% url 'employee:overview'%}">User</a> page but not here</h2>
    <form method="POST">
        {% csrf_token %}
        {% for ofform in forms.values %}
        <div id="{{ofform.prefix}}" class="p-4 m-2 bg-[#333333] rounded-sm">
            {% with formname=form_meta|get_item:ofform.prefix %}
            <h2>
                Paid at <code class="p-1 bg-black">{{formname.rate}}</code> Rate
            </h2>
            {% endwith %}
            {{ ofform.management_form|crispy }}
            {% for form in ofform.forms %}
            <div class="{% cycle 'row1' 'row2' %} formset row-{{ofform.prefix}} flex">
                <div class="flex flex-col space-y-2 md:flex-row md:space-y-0 md:space-x-2">
                    {% for field in form.visible_fields %}
                    <div>
                        {# Include the hidden fields in the form #}
                        {% if forloop.first %}
                        {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                        {% endfor %}
                        {% endif %}
                        {{ field.errors.as_ul }}
                        {{ field|as_crispy_field }}
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
        <script type="text/javascript">
            $('.row-{{ofform.prefix}}').formset({
                addText: 'Add Shift',
                deleteText: '✕',
                deleteCssClass: 'delete-row my-auto bg-black w-min px-4 py-2',
                prefix: '{{ ofform.prefix }}',
                hideLastAddForm: true,
            });;
        </script>
        {% endfor %}
        <button class="m-2 bg-[#009961] py-4 px-2" type="submit">Submit</button>
    </form>
</div>
<style>

    /* Hide bad formatted errors */
    .errorlist {
        display: none;
    }

    label {
        color: white !important;
    }

    .add-row {
        padding: 1rem;
        background-color: #009961;
        display: block;
        width: max-content;
        margin: .5rem 0;
    }
    .text-gray-600 {
        color: white!important;
        font-size: .5rem;
    }

    @media (min-width: 768px) {
        .delete-row {
            margin-bottom: .75rem;
        }
    }

    .delete-row {
        margin-left: .5rem;
        height: max-content;

    }
</style>
{% endblock %}