{% extends "theme/base.html" %} {% load grouping %} {% load crispy_forms_tags %}
{% block title %}Signup Complete{% endblock %}
{% block nav %}{% endblock %}

{% block content %}
<div class="max-w-5xl mx-auto mt-10">
    <h1 class="text-6xl text-center">
        Thank you!
    </h1>
    <h2 class="my-6 text-2xl text-center">
        We will reach out to you as soon as your account is ready for use.
    </h2>
    <div class="flex p-4 space-x-4 text-black bg-yellow-300 rounded">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-20 h-20 my-auto text-yellow-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" />
          </svg>
          <span class="my-auto">
            You will <b>NOT</b> be able to sign in immediately. Do not try to sign in (it won't work) or send us emails saying your account doesn't work. We manually go through and activate accounts in order to ensure that only BSSL employees have access to <span class="font-stencil">S.L.U.G.S</span>
          </span>
    </div>
</div>
{% endblock %}
{% block footer %}{% endblock %}