{% extends 'base.html' %}

{% block title %}
Welcome!
{% endblock %}

{% block content %}
<div class="section">
    <span class="title">Welcome to BSSL!</span>
    <p>We're glad to have you join us! Welcome to your first interaction with SLUGS. This is our custom system that we use to book, staff, and manage shows. We're going to get you setup with an account real quick.</p>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="uk-button" type="submit">Submit</button>
    </form>
</div>
<style>
    p, li {
        color: #FFF;
    }
    button {
        background-color: #FFF;
        color: #000!important;
    }
</style>
{% endblock %}