{% extends "theme/base.html" %}
{% load grouping %} {% load crispy_forms_tags %} {% load static %}
{% block title %} - {{request.user.first_name}} {{request.user.last_name}} - Upload Form{% endblock %}
{% block content %}
<div class="flex flex-col max-w-5xl mx-auto mt-10">
    <h1 class="text-3xl">Upload {{paperwork.form}}</h1>
    <div class="mt-5">
        {% crispy form %}
    </div>
</div>
<style>
    label {
        color: white!important;
    }
    ul {
        color: rgb(228, 225, 225)!important;
    }
    .clearablefileinput {
        color:rgb(228, 225, 225);
        border-radius: 2px;
    }
    #div_id_pdf a {
        text-decoration: underline;
        margin-right: 1rem;
    }
</style>
{% endblock %}