
<div class="bingo main-content" style="color: #000">
    <div class="title"> <span>
         BSSL Bingo</span><span>BSSL Bingo/Checklist <sub style="font: 1rem;">The bingo board doesn't fit too good on mobile</sub></span></div>
    <div class="bingo-card">
      <div class="bingo-card__item">Shop copy isn't in shop<span class="bingo-card__checkbox"></span></div>
      <div class="bingo-card__item">The event coordinator asks something of you that isn't BSSL-related<span class="bingo-card__checkbox"></span></div>
      <div class="bingo-card__item">Someone tap tests the microphone OR Sound hasn't decided circuits after lighting setup<span class="bingo-card__checkbox"></span></div>
      <div class="bingo-card__item">Have to ask the union desk for something<span class="bingo-card__checkbox"></span></div>
      <div class="bingo-card__item">Event coordinator is MIA/Event coordinator is over an hour late<span class="bingo-card__checkbox"></span></div>
      <div class="bingo-card__item">Load out over a half hour before official load out time<span class="bingo-card__checkbox"></span></div>
      <div class="bingo-card__item">Someone messes up the spool OR you mixed up wireless DMX<span class="bingo-card__checkbox"></span></div>
      <div class="bingo-card__item">Someone steps on a speaker/ spills something on a speaker OR cognito crashes<span class="bingo-card__checkbox"></span></div>
      <div class="bingo-card__item">Never given day of show itinerary<span class="bingo-card__checkbox"></span></div>
      <div class="bingo-card__item">Event ends over 30 mins late<span class="bingo-card__checkbox"></span></div>
      <div class="bingo-card__item">Someone speaks into the mic right in front of the speaker OR you programed a chase to use in the show<span class="bingo-card__checkbox"></span></div>
      <div class="bingo-card__item">Performers don't turn on wireless mic OR using some kind of strobe effect<span class="bingo-card__checkbox"></span></div>
      <div class="bingo-card__item">BSSL Bingo Free Space<span class="bingo-card__checkbox"></span></div>
      <div class="bingo-card__item">Live act shows up unannounced<span class="bingo-card__checkbox"></span></div>
      <div class="bingo-card__item">The group gives a shoutout to BSSL<span class="bingo-card__checkbox"></span></div>
      <div class="bingo-card__item">Event coordinator asks for tape OR there is a probie working lighting or sound<span class="bingo-card__checkbox"></span></div>
      <div class="bingo-card__item">Group approaches wrong dept's desk OR impossible lighting cue<span class="bingo-card__checkbox"></span></div>
      <div class="bingo-card__item">At least one manager is working the event<span class="bingo-card__checkbox"></span></div>
      <div class="bingo-card__item">Group asks to violate BSSL color theory OR group never shows up to sound check<span class="bingo-card__checkbox"></span></div>
      <div class="bingo-card__item">Set up over an hour before official set up by time<span class="bingo-card__checkbox"></span></div>
      <div class="bingo-card__item">Appearance by Joe Babbitt OR all out brawl with Catherine<span class="bingo-card__checkbox"></span></div>
      <div class="bingo-card__item">DJ with an airhorn OR more than one lighting add on<span class="bingo-card__checkbox"></span></div>
      <div class="bingo-card__item">This show is someone's test<span class="bingo-card__checkbox"></span></div>
      <div class="bingo-card__item">Group forgets they are on AUX OR Broken equipment<span class="bingo-card__checkbox"></span></div>
      <div class="bingo-card__item">Delayed start time of event<span class="bingo-card__checkbox"></span></div>
    </div>
  </div>
  <aside class="context">
    <div class="clear-button">Clear board</div>
  </aside>

  <style>
@charset "UTF-8";
.bingo * {
  box-sizing: border-box;
}

aside.context {
  text-align: center;
  color: #333;
  line-height: 1.7;
}
aside.context a {
  text-decoration: none;
  color: #333;
  padding: 3px 0;
  border-bottom: 1px dashed;
}
aside.context a:hover {
  border-bottom: 1px solid;
}
aside.context .explanation {
  max-width: 700px;
  margin: 4em auto 0;
}

.bingo footer {
  text-align: center;
  margin: 3em auto;
  width: 100%;
}
.bingo footer a {
  text-decoration: none;
  display: inline-block;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: transparent;
  border: 1px dashed #333;
  color: #333;
  margin: 5px;
}
.bingo footer a:hover {
  background: rgba(255, 255, 255, 0.1);
}
.bingo footer a .icons {
  margin-top: 12px;
  display: inline-block;
  font-size: 20px;
}

.bingo.main-content {
  max-width: 600px;
  width: 100%;
  margin: 4em auto 0;
  overflow: hidden;
}

.bingo .title {
  background: #009961;
  color: #000;
  padding: 30px 10px;
  grid-column: span 5;
  text-align: center;
  font: 72px/0.9 "Stardos Stencil", sans-serif;
}
.bingo .title span {
  display: none;
}
.bingo .title span:nth-child(1) {
  display: block;
}
@media screen and (max-width: 600px) {
  .bingo .title span:nth-child(1) {
    display: none;
  }
  .bingo .title span:nth-child(2) {
    display: block;
  }
}

.bingo .bingo-card {
  background: #008856;
  padding: 10px;
  display: grid;
  grid-gap: 3px;
  grid-template-rows: repeat(5, 110px);
  grid-template-columns: repeat(5, 1fr);
  text-transform: uppercase;
}
.bingo .bingo-card__item {
  background: #03faa0;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  font-size: 10px;
  line-height: 1.35;
  user-select: none;
}
.bingo .bingo-card__item:after {
  content: "-";
  position: absolute;
  top: -28%;
  left: -30%;
  color: #01b070;
  width: 100%;
  opacity: 0;
  transition: 0.1s ease;
  height: 0;
  pointer-events: none;
  font: 280px/0.5 "Caveat Brush", cursive;
  text-align: center;
  transform: rotate(-45deg);
}
.bingo .bingo-card__item.active:after {
  height: 100%;
  opacity: 0.7;
}

.bingo .bingo-card__item {
  padding: 15px;
}
.bingo .bingo-card__item.active .bingo-card__checkbox:before {
  content: "✔";
  position: absolute;
  color: black;
  left: 0;
  top: -19px;
  color: #009961;
  font: 30px "Caveat Brush", cursive;
}
.bingo .bingo-card__checkbox {
  display: none;
}

.clear-button {
  margin: 2em 0 0;
  font: 700 16px "Nunito", sans-serif;
  text-transform: uppercase;
  cursor: pointer;
  display: inline-block;
  border: 2px dotted;
  color: #009961;
  padding: 8px 10px;
}
.clear-button:hover {
  color: #008122;
}

@media screen and (max-width: 600px) {
  .bingo.main-content {
    max-width: none;
    margin: 0;
  }

  .bingo .title {
    font: 50px/0.9 "Stardos Stencil", sans-serif;
    padding: 20px;
  }

  .bingo .bingo-card {
    grid-template-rows: repeat(24, auto);
    grid-template-columns: auto;
    margin: 1em;
  }

  .bingo .bingo-card__item {
    justify-content: flex-start;
    padding: 15px 15px 15px 40px;
    text-align: left;
  }
  .bingo .bingo-card__item:after {
    content: "";
    opacity: 0;
  }
  .bingo .bingo-card__item:nth-child(13) {
    display: none;
  }

  .bingo .bingo-card__checkbox {
    display: inline;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 10px;
    border: 2px dashed #008856;
  }
}
  </style>

  <script>
$(".bingo-card__item").on('click', function() {
    $(this).toggleClass('active');
});

$('.clear-button').on('click', function(){
    $('.bingo-card__item').removeClass('active');
});
  </script>