@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@font-face {
    font-family: 'verdana';
    src: url(/static/fonts/Rubik-Regular.ttf);
  }
@media only screen and (min-width: 601px) {
    .section {
        width: 85%;
        margin: 2em auto!important;
    }
}
html {
    height: 100%;
}
html, body {
    font-family: 'Rubik', sans-serif;
    min-height: 100%;
    width: 100%;
    background-color: #000!important;
}

nav {
    display: flex;
    background-color: #FFF;
}

nav > *, nav a {
    color: #000;
    stroke: #000;
    margin: auto .5em;
}
nav svg:hover .st0, nav a:hover {
    color: #444;
    fill: #000;
    stroke: #FFF;
    transform: fill 1s ease-in-out;
}

#nav-logo > *{
    width: 4em;
    margin: 0 1.5em;
}
#nav-user {
    margin: auto .5em auto auto;
}
#nav-user img {
    width: 2.5em;
    margin: 0 .5em;
}
#nav-user .uk-dropdown  a{
    padding: 2px
}
#nav-user .uk-dropdown  a:hover{
    background-color: #888;
    color: #FFF!important;
    transition: color .2s, background-color .2s;
}

.uk-offcanvas-bar {
    background-color: #000;
}
.uk-offcanvas-bar .links{
    display: flex;
    flex-direction: column;
}
.uk-offcanvas-bar .links a{
    margin: .25em 0;
}

.uk-alert {
    text-align: center;
}

.section {
    margin: 2em;
}

.section .title{
    font-size: 2em;
    font-family: 'Varela Round', sans-serif;
    color: #FFF;
}

.notification {
    text-align: center;
}
.notification.normal:hover {
    background-color: #f8f8f8!important;
    color: #666!important;
}
.notification p{
    margin: 0;
}