@media only screen and (max-width: 600px) {  
    table, table td, table tr, table th { 
        display: block;
    }
    table {
        width: fit-content!important;
        margin: auto;
    }  
    table td {
        padding: 5px!important;
    }
}

form {
    padding: 1em;
}

table {
    background-color: #212121;
    color: #FFF;
}
.uk-table-hover tbody tr:hover, .uk-table-hover>tr:hover {
    background: #333!important;
}
table button {
    background-color: #03c77f!important;
}
table button {
    line-height: normal!important;
    padding: 1em .25em!important;
}