.user-form {
    background-color: #FFF;
    color: #000000;
    padding: .5em;
}

.user-form div {
    display: flex;
}
.user-form div > * {
    margin: auto auto auto 0;
}
.user-form .uk-button {
    background-color: #000000;
    color: #FFF;
    margin: .25em ;
}