<div class="p-4 text-black bg-white rounded">
    <button unicorn:loading.remove unicorn:click="update_from_API" class="px-4 py-2 my-2 ml-auto mr-0 text-black bg-white border-2 border-black rounded-sm hover:bg-red-200">Fetch WorkerIDs from PayChex API</button>
    {% if statusMessages|length > 0 %}<h4 class="text-xl font-bold">Update Status:</h4>{% endif %}
    <div class="flex flex-col space-y-2">
        <div unicorn:loading class="flex p-4 bg-blue-300 w-max">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 mr-4">
                <path stroke-linecap="round" stroke-linejoin="round" d="M11.25 11.25l.041-.02a.75.75 0 011.063.852l-.708 2.836a.75.75 0 001.063.853l.041-.021M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9-3.75h.008v.008H12V8.25z" />
            </svg>                                               
            <p>Getting new data from PayChex Flex API..... Please wait</p>                
        </div>
        {% for message in statusMessages %}
            {% if message.type == 'e' %}
                <div class="flex p-4 bg-red-500 w-max">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 mr-4">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m9-.75a9 9 0 11-18 0 9 9 0 0118 0zm-9 3.75h.008v.008H12v-.008z" />
                    </svg>      
                    <p>{{message.text}}</p>                
                </div>
            {% elif message.type == 'w' %}
                <div class="flex p-4 bg-yellow-300 w-max">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 mr-4">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126zM12 15.75h.007v.008H12v-.008z" />
                    </svg>                           
                    <p>{{message.text}}</p>                
                </div>
            {% elif message.type == 'i' %}
                <div class="flex p-4 bg-blue-300 w-max">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 mr-4">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M11.25 11.25l.041-.02a.75.75 0 011.063.852l-.708 2.836a.75.75 0 001.063.853l.041-.021M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9-3.75h.008v.008H12V8.25z" />
                    </svg>                                               
                    <p>{{message.text}}</p>                
                </div>      
            {% elif message.type == 's' %}
                <div class="flex p-4 bg-green-500 w-max">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 mr-4">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>                                              
                    <p>{{message.text}}</p>                
                </div>
            {% else %}
                <div>UNKNOWN ERROR</div>
            {% endif %}
        {% endfor %}
    </div>
    <style>
        [hidden] {
            display: none;
        }
    </style>
</div>
