<div class="loginTimes">
    <p>
        <b>
            Employees that have not logged in since {{sevendayago}}
        </b>
    </p>
    {% for e in emps %}
        <p>{{e.first_name}} {{e.last_name}}</p>
    {% endfor %}
</div>
<div class="loginTimes">
    <p>
        <b>
            Employees that have yet to login
        </b>
    </p>
    {% for e in empsnopass %}
        <p>{% if e.preferred_name %}{{e.preferred_name}} {% else %} {{e.first_name}} {% endif %} {{e.last_name}}</p>
    {% endfor %}
</div>
<style>
    .loginTimes b {
        font-size: .9rem;
    }
</style>
