{% load static tailwind_tags %}
{% load slugs_components %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BSSL | {{estimate}}</title>

    {% tailwind_css %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap"
        rel="stylesheet">
    <meta name="title" content="SLUGS">
    <meta name="description" content="The Sound and Lights User Grouping System for BSSL employees">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://slugs.bssl.binghamtonsa.org{{request.get_full_path}}">
    <meta property="og:title" content="S.L.U.G.S.">
    <meta property="og:description" content="The Sound and Lights User Grouping System for BSSL employees">
    <meta property="og:image" content="https://slugs.bssl.binghamtonsa.org/static/img/logo/logo-social.png">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://slugs.bssl.binghamtonsa.org{{request.get_full_path}}">
    <meta property="twitter:title" content="S.L.U.G.S.">
    <meta property="twitter:description" content="The Sound and Lights User Grouping System for BSSL employees">
    <meta property="twitter:image" content="https://slugs.bssl.binghamtonsa.org/static/img/logo/logo-social.png">
    {% block headincludes %} {% endblock %}
</head>

<body>
    <table style="border: none;">
        <thead class="bg-white">
            <tr style="border: none;">
                <td>
                </td>
            </tr>
        </thead>
        <tbody class="relative">
            <tr style="border: none;">
                <td style="border: none;">
                    <div id="page-content">
                        <div class="flex">
                            <div class="flex flex-col" style="width: 2.5in">
                                <h1 class="text-8xl font-stencil">BSSL</h1>
                                <!-- <img src="{% static 'finance/img/bssl.png' %}" alt="BSSL Logo" style="width: 2.5in;"> -->
                                <h1 class="font-brand">
                                    <span class="text-xs text-center">Binghamton Sound Stage and Lighting</span><br>
                                    <!-- <a href="tel:6077774144">(607) 777-4144</a><br> -->
                                    <a href="mailto:bssl@binghamtonsa.org">bssl@binghamtonsa.org</a><br>
                                    <a href="https://bssl.binghamtonsa.org">bssl.binghamtonsa.org</a>
                                </h1>
                                <p class="mt-4 text-xs">
                                    Student Assoc. of SUNY Binghamton, Inc.<br>
                                    UU B19 - BSSL<br>
                                    4400 Vestal Parkway, East<br>
                                    Binghamton, NY 13902-6000<br>
                                </p>
                            </div>
                            <div class="flex-col space-y-4" style="width:6in">
                                <h1 class="ml-auto mr-4 text-4xl font-bold text-right">Invoice</h1>
                                <table class="w-full ml-6">
                                    <thead>
                                        <tr>
                                            <td>
                                                Date Invoiced
                                            </td>
                                            <td>
                                                Date Due
                                            </td>
                                            <td>
                                                Invoice #
                                            </td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                {% now "n/j/Y" %}
                                            </td>
                                            <td>
                                                {% if estimate.gig.payment_due %} {{estimate.gig.payment_due|date:"n/j/Y"}} {% else %} Upon Receipt {% endif %}
                                            </td>
                                            <td>
                                                I{{2500|add:estimate.pk}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table class="w-full ml-6">
                                    <colgroup>
                                        <col span="1" style="width: 80%;">
                                        {% if estimate.billing_contact.organization.SA_account_num %}
                                        <col span="1" style="width: 20%;">
                                        {% endif %}
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <td>
                                                Bill To
                                            </td>
                                            {% if estimate.billing_contact.organization.SA_account_num %}
                                            <td>
                                                SA Account #
                                            </td>
                                            {% endif %}
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                {{estimate.billing_contact.organization.name}}; ATTN: {{estimate.billing_contact.name}}
                                            </td>
                                            {% if estimate.billing_contact.organization.SA_account_num %}
                                            <td>
                                                {{estimate.billing_contact.organization.SA_account_num}}
                                            </td>
                                            {% endif %}
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <table class="w-full my-5">
                            <colgroup>
                                <col span="1" style="width: 40%;">
                                <col span="1" style="width: 20%;">
                                <col span="1" style="width: 20%;">
                                <col span="1" style="width: 20%;">
                            </colgroup>
                            <thead>
                                <tr>
                                    <td>
                                        Event
                                    </td>
                                    <td>
                                        Event Date
                                    </td>
                                    <td>
                                        Event Location
                                    </td>
                                    <td>
                                        Reservation Number
                                    </td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        {{estimate.gig.name}}
                                    </td>
                                    <td>
                                        {{estimate.gig.start|date:"n/j/Y" }}
                                    </td>
                                    <td>
                                        {{estimate.gig.location}}
                                    </td>
                                    <td>
                                        E{{2500|add:estimate.pk}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="mt-2" style="width: 8.75in">
                            {% if estimate.notes or estimate.canned_notes.count > 0 %}
                            <div class="p-2 font-mono border-2 border-b-0 border-black">
                                <h1 class="text-lg">NOTE:</h1>
                                {% for note in estimate.canned_notes.values|dictsort:"ordering" %}
                                <div class="text-sm">
                                    {{note.note|safe}}
                                </div>
                                {% endfor %}
                                <div class="text-sm">
                                    {{estimate.notes|safe}}
                                </div>
                            </div>
                            {% endif %}
                            <table style="border-bottom: none;" class="w-full text-sm">
                                <colgroup>
                                    <col span="1" style="width: 20%;">
                                    <col span="1" style="width: 50%;">
                                    <col span="1" style="width: 5%;">
                                    <col span="1" style="width: 10%;">
                                    <col span="1" style="width: 15%;">
                                </colgroup>
                                <thead>
                                    <!-- <tr>
                                    <td colspan="5" style="background-color: white!important; padding: .5rem .25rem">
                                            <div class="flex font-mono text-xs">
                                                <span class="my-auto">Initial:</span>
                                                <div class="flex ml-4"><span class="my-auto">BSSL</span>
                                                    <div class="w-10 h-5 my-auto ml-1 border-2 border-black"></div>
                                                </div>
                                                <div class="flex ml-4"><span class="my-auto">{{estimate.billing_contact.organization}}</span>
                                                    <div class="w-10 h-5 my-auto ml-1 border-2 border-black"></div>
                                                </div>
                                            </div>
                                    </td> 
                                    </tr> -->
                                    <tr>
                                        <td>
                                            Item
                                        </td>
                                        <td>
                                            Description
                                        </td>
                                        <td>
                                            Qty
                                        </td>
                                        <td>
                                            Rate
                                        </td>
                                        <td>
                                            Total
                                        </td>

                                    </tr>
                                </thead>
                                <tbody id="item_table">
                                    {% for system, qty, total_price, is_addon in systems.values %}
                                    <tr style="{% if is_addon %}border-top: black dashed .5px;{% endif %}">
                                        <td>
                                            {% if is_addon %}
                                            + {{system.name}}
                                            {% else %}
                                            {{system.name}} {{system.get_department_display}}
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if system.description %}
                                            <span class="text-xs">{{system.description}}</span><br>
                                            {% endif %}
                                            {% if system.base_price %}
                                            Flat Rate
                                            {% endif %}
                                            {% if system.price_per_hour %}
                                            Hourly Rate
                                            {% endif %}
                                        </td>
                                        <td style="padding: 0;" class="text-center">
                                            {{qty}}
                                        </td>
                                        <td style="padding: 0;" class="text-center">
                                            {% if system.base_price %}
                                            {{system.base_price}}
                                            {% elif system.price_per_hour %}
                                            {{system.price_per_hour}}
                                            {% elif system.price_per_hour_for_duration_of_gig %}
                                            {{system.price_per_hour_for_duration_of_gig}}
                                            {% elif system.price_per_hour_for_load_in_out_ONLY %}
                                            {{system.price_per_hour_for_load_in_out_ONLY}}
                                            {% else %}
                                            0.00
                                            {% endif %}
                                        </td>
                                        <td style="padding: 0;" class="text-center">
                                            {{total_price}}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    <tr>
                                        <td colspan="4" class="text-right" style="border-right:none!important;">
                                            Subtotal:</td>
                                        <td colspan="1" class="text-center" style="border-left:none!important;">
                                            ${{estimate.subtotal}}
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr style="border: none;">
                                        <td style="border: none; padding: 1px"></td>
                                    </tr>
                                </tfoot>
                            </table>
                            {% if estimate.fees.all.count > 0 or estimate.onetimefee_set.all.count > 0 %}
                            <table style="border-bottom: none; border-top: none;" class="w-full text-sm no-border">
                                <colgroup>
                                    <col span="1" style="width: 20%;">
                                    <col span="1" style="width: 45%;">
                                    <col span="1" style="width: 10%;">
                                    <col span="1" style="width: 10%;">
                                    <col span="1" style="width: 15%;">
                                </colgroup>
                                <thead>
                                    <tr>
                                        <td>
                                            Fee
                                        </td>
                                        <td>
                                            Description
                                        </td>
                                        <td>
                                            % of total
                                        </td>
                                        <td>
                                            Rate
                                        </td>
                                        <td>
                                            Total
                                        </td>

                                    </tr>
                                </thead>
                                <tbody id="item_table">
                                    {% for fee, amt in fees.values %}
                                    <tr style="{% if is_addon %}border-top: black dashed .5px;{% endif %}">
                                        <td>
                                            {{fee.name}}
                                        </td>
                                        <td class="text-xs">
                                            {% if fee.description %}{{fee.description}}{% endif %}
                                        </td>
                                        <td class="text-center">
                                            {% if fee.percentage %}{{fee.percentage}}{% endif %}
                                        </td>
                                        <td class="text-center">
                                            {% if fee.amount %}{{fee.amount}}{% endif %}
                                        </td>
                                        <td class="text-center">
                                            ${{amt}}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    <tr>
                                        <td colspan="4" class="text-right" style="border-right:none!important;">Fee
                                            Total:</td>
                                        <td colspan="1" class="text-center" style="border-left:none!important;">
                                            ${{estimate.fees_amt}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            {% endif %}
                            {% if estimate.payment_set.count != 0 %}
                            <table style="border-bottom: none; border-top: none;" class="w-full text-sm no-border">
                                <colgroup>
                                    <col span="1" style="width: 65%;">
                                    <col span="1" style="width: 20%;">
                                    <col span="1" style="width: 15%;">
                                </colgroup>
                                <thead>
                                    <tr>
                                        <td>
                                            Payment Date
                                        </td>
                                        <td>
                                            Payment Type
                                        </td>
                                        <td>
                                            Total
                                        </td>
                                    </tr>
                                </thead>
                                <tbody id="item_table">
                                    {% for payment in estimate.payment_set.all %}
                                    <tr>
                                        <td>
                                            {{payment.payment_date|date:"n/j/Y"}}
                                        </td>
                                        <td class="text-xs">
                                            {{payment.get_payment_type_display}}
                                        </td>
                                        <td class="text-center">
                                           (${{payment.amount}})
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    <tr>
                                        <td colspan="2" class="text-right" style="border-right:none!important;">
                                            Payments made:
                                        </td>
                                        <td colspan="1" class="text-center" style="border-left:none!important;">
                                            (${{estimate.payments_made}})
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            {% endif %}
                            <table class="w-full">
                                <colgroup>
                                    <col span="1" style="width: 50%;">
                                    <col span="1" style="width: 35%;">
                                    <col span="1" style="width: 15%;">
                                </colgroup>
                                <tbody>
                                    {% if estimate.adjustments %}
                                    <tr>
                                        <td colspan="2" class="text-right" style="border-right:none!important;">
                                            Adjustments:</td>
                                        <td colspan="1" class="text-center" style="border-left:none!important;">
                                            ${{estimate.adjustments}}</td>
                                    </tr>
                                    {% endif %}
                                    <tr class="text-lg font-black">
                                        <td class="border-r-0">
                                            <!-- <div class="flex font-mono text-xs">
                                            <span class="my-auto">Initial:</span>
                                            <div class="flex ml-4"><span class="my-auto">BSSL</span>
                                                <div class="w-10 h-5 my-auto ml-1 border-2 border-black"></div>
                                            </div>
                                            <div class="flex ml-4"><span class="my-auto">{{estimate.billing_contact.organization}}</span>
                                                <div class="w-10 h-5 my-auto ml-1 border-2 border-black"></div>
                                            </div>
                                        </div> -->
                                        </td>
                                        <td class="text-right border-l-0" style="border-right:none!important;">Total:
                                        </td>
                                        <td class="text-center" style="border-left:none!important;">
                                            ${{estimate.outstanding_balance}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="dont_break">
                            <div class="mt-10 text-sm text-center">
                                <p>
                                    Payment due upon receipt of Invoice by way of Check of SA inter-organization transfer.
                                </p>
                                <p>
                                    Make checks payable to: <br>Binghamton Sound, Staging, and Lighting (SA Account #7400) / Student Association of Binghamton University Inc.
                                </p>
                                <p>
                                    Invoices unpaid after two weeks will be subject to late fee.
                                </p>
                            </div>
                            <div class="mt-10 text-sm text-center"><i>
                                <p>
                                    Thank you for your business.
                                </p>
                                <p>
                                    If you have any questions or comments, please feel free to contact us.
                                </p>
                            </i></div>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</body>
<style>
    @page {
        size: 8.5in 11in;
        counter-increment: page;

    }

    @media print {
        .dont_break {
            break-inside: avoid;
        }
    }

    body {
        width: 8.5in;
        height: 11in;
        background-color: white;
    }

    table {
        border: black solid 2px;
    }

    table thead {
        background-color: #CCC;
    }

    table tr {
        border-top: black solid 1px;
    }

    table td {
        border-left: black solid 1px;
        border-right: black solid 1px;
        padding-left: .5rem;
    }

    #item_table tr {
        /* border: none!important; */
    }
</style>
<script>
    print()
</script>

</html>