{% extends "theme/base.html" %}
{% load unicorn %} {% load grouping %} {% load crispy_forms_tags %} {% load static %}
{% block title %} - Finance Homepage{% endblock %}

{% block headincludes %}{% unicorn_scripts %}{% endblock %}
{% block content %}
<div class="max-w-5xl m-4 md:mx-auto">
    <h1 class="text-4xl">Financial Overview</h1>
    <h2 class="mt-5 text-2xl">Generate SA Group Billing Summary</h2>
    <div class="p-4 text-black bg-white rounded">
        <p>This will generate a SA Billing Summary for events that have their billing contact set to a person who's organization has a valid SA Account number.</p>
        <div>
            <input type="number" id="saBillingSummaryMonth" placeholder="Month"/>
            <input type="number" id="saBillingSummaryYear" placeholder="Year"/>
            <button onclick="javascript:generateSaBillingSummary()" class="px-2 py-2 m-2 text-white bg-black cursor-pointer">Generate</button>
        </div>
        <script>
            const generateSaBillingSummary = () => {
                const month = document.getElementById('saBillingSummaryMonth').value;
                const year = document.getElementById('saBillingSummaryYear').value;
                let url = "{%url 'finance:sa_billing_summary' month="-1" year="-2" %}"
                url = url.replace('-1', month);
                url = url.replace('-2', year);
                window.location.href = url;
            }
        </script>
    </div>
    <h2 class="mt-5 text-2xl">Most Recent Pay Period</h2>
    <div class="p-4 text-black bg-white rounded">
        <div class="sm:flex">
            <div>
                <h2 class="text-xl">
                    {{most_recent_pay_period.start}} - {{most_recent_pay_period.end}}; Payday {{most_recent_pay_period.payday}}
                </h2>
                <div>
                    {{shifts.count}} Shifts in period totaling {{shifts_hours.total_time__sum}} man-hours of work and costing ${{shifts_price.cost__sum|floatformat:2}}
                </div>
            </div>
            <div class="ml-auto mr-0">
                {% unicorn 'financeApproveAllShifts' shiftset=shifts%}
            </div>
        </div>
        <div>
        </div>
    </div>
    <h2 class="mt-5 text-2xl">See Previous Pay Period</h2>
    {% unicorn 'previousPayPeriod' %}
</div>
{% endblock %}