{% extends "admin/base_site.html" %}
{% load i18n admin_urls static admin_modify %}
{% load crispy_forms_tags %}
{% load static tailwind_tags %}

{% block extrahead %}{{ block.super }}
<script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
{% tailwind_css %}
{{ media }}
{% endblock %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}">{% endblock %}

{% block coltype %}colM{% endblock %}

{% if not is_popup %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label='finance' %}">Finance</a>
&rsaquo; <a href="{% url 'admin:finance_payperiod_changelist' %}">Gigs</a>
&rsaquo; <a href="../change">Pay Period</a>
&rsaquo; Rollover Shifts
</div>
{% endblock %}
{% endif %}

{% block content %}
<div id="content-main">
    {% crispy form %}
</div>
{% endblock %}