{% extends "theme/base.html" %}
{% load unicorn %}
{% load grouping %} {% load crispy_forms_tags %} {% load gig_components %} {% load static %} {% load i18n %}
{% block title %} - {{gig.name}}{% endblock %}

{% block headincludes %}{% unicorn_scripts %}{% endblock %}
{% block content %}
{% if gig.archived %}
<div class="flex-1 mx-4 my-2">
    <div class="p-2 mx-auto my-auto font-bold text-center text-black bg-gray-300 text-mono">This show has been archived. Either it is over or was cancelled.</div>
</div>
{% endif %}
<div class="m-5 mt-10">
    {% ticket gig %}
</div>
<div class="flex flex-col mx-auto space-y-2 max-w-prose sm:space-y-0 sm:flex-row">
    <div class="flex-1 m-2 my-auto">
        <div class="p-2 mx-auto my-auto font-bold text-center text-black bg-red-300 text-mono">Setup by: {{gig.setup_by|date:"H:i"}}</div>
    </div>
    {% if my_job or request.user|has_group:"Manager" %}
        <div class="flex-1 p-1 mx-auto">
            <p>Event Contact:</p>
            <p>{{gig.contact.name}}</p>
            <p class="underline"><a href="mailto:{{gig.contact.email}}">{{gig.contact.email}}</a></p>
            <p class="underline"><a href="tel:{{gig.contact.phone_number}}">{{gig.contact.phone_number}}</a></p>
        </div>
        {% if gig.estimate_set.first.signed_estimate %}
        <div class="flex flex-1 p-1 my-4">
            <a class="mx-auto" href="{% url 'download_estimate' gig.estimate_set.first.signed_estimate %}"><button class="px-2 py-2 m-2 text-black bg-white">View Signed Reservation</button></a>
        </div>
        {% endif %}
    {% endif %}
</div>
<div class="mx-4 my-10 sm:mx-auto max-w-prose">
    <h2 class="p-1 text-black bg-white w-max">
        Notes:
    </h2>
    <div id="gig_notes" class="px-2 py-1 mt-1 text-black bg-white">
        {% if gig.notes %}
        {{gig.notes|safe}}
        {% else %}
        <span class="font-mono">No engineering notes provided 🤷‍♂️</span>
        {% endif %}
    </div>
    <style>
        #gig_notes a{
            text-decoration: underline;
        }
    </style>
</div>
{% if gig.attachments.count > 0 and my_job or gig.attachments.count > 0 and request.user|has_group:"Manager" %}
    <div class="mx-4 my-10 sm:mx-auto max-w-prose">
        <h2 class="p-1 text-black bg-white w-max">
            Attachments:
        </h2>
        {% for attachment in gig.attachments.all %}
            {% if attachment.available_to_all_employees or attachment.available_to_engineers and my_job|isEngineer or attachment.available_to_managers and request.user|has_group:"Manager" %}
                <a href="{{attachment.file.url}}">
                    <div class="flex px-2 py-1 mt-1 text-black bg-white">
                        <div>
                            <p class="underline">{{attachment.name}}</p>
                            {% if attachment.description %}<p class="text-sm">{{attachment.description}}</p>{% endif %}
                        </div>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 ml-auto mr-2">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" />
                        </svg>                      
                    </div>
                </a>
            {% elif attachment.available_to_engineers %}
                <div class="flex px-2 py-1 mt-1 text-black bg-red-300">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 mr-4">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m0-10.036A11.959 11.959 0 013.598 6 11.99 11.99 0 003 9.75c0 5.592 3.824 10.29 9 11.622 5.176-1.332 9-6.03 9-11.622 0-1.31-.21-2.57-.598-3.75h-.152c-3.196 0-6.1-1.249-8.25-3.286zm0 13.036h.008v.008H12v-.008z" />
                    </svg>  
                    <div>
                        <p>This attachment is only for Engineers.</p>
                        <p class="text-xs">Don't worry! This means this attachment isn't important for your job. We'll always share all info you'll need to do your job!</p>
                    </div>                    
                </div>
            {% else %}
                <div class="flex px-2 py-1 mt-1 text-black bg-red-300">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 mr-4">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m0-10.036A11.959 11.959 0 013.598 6 11.99 11.99 0 003 9.75c0 5.592 3.824 10.29 9 11.622 5.176-1.332 9-6.03 9-11.622 0-1.31-.21-2.57-.598-3.75h-.152c-3.196 0-6.1-1.249-8.25-3.286zm0 13.036h.008v.008H12v-.008z" />
                    </svg>  
                    <div>
                        <p>This attachment is only available to Managers.</p>
                        <p class="text-xs">Don't worry! This means this attachment isn't important to running the gig. We'll always share all info you'll need to do your job!</p>
                    </div>                    
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endif %}
<div class="flex flex-col max-w-5xl mx-auto space-y-4 xl:space-y-0 xl:space-x-4 xl:flex-row">
    <div class="max-w-[100vw] flex flex-col mx-auto xl:ml-0 sm:max-w-lg">
        <h1 class="mx-4 text-3xl">
            Load In/Out
        </h1>
        <div class="relative">
            <div class="absolute top-0 bottom-0 left-0 pointer-events-none -right-1" style="background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 3%, rgba(255,255,255,0) 97%, rgba(0,0,0,1) 100%);"></div>
            <div class="my-auto overflow-x-auto">
                <div class="flex my-4 space-x-4 sm:m-4">
                    <div class="w-4 text-transparent bg-transparent"><p>.</p></div>
                    {% for loadin in gig.loadin_set.all %}
                    <div class="p-4 mx-auto text-black bg-white rounded-sm">
                        <h3 class="text-xl">{{loadin.get_department_display}} {% if loadin.note %}<sub>{{loadin.note}}</sub>{% endif %}</h3>
                        <div class="flex m-2 text-lg w-max">
                            <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 my-auto mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 16l-4-4m0 0l4-4m-4 4h14m-5 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h7a3 3 0 013 3v1" />
                            </svg>
                            {{loadin.shop_time}}
                        </div>
                        <div class="flex m-2 text-lg w-max">
                            <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 my-auto mr-2" fill="none"
                                viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M13 5l7 7-7 7M5 5l7 7-7 7" />
                            </svg>
                            {{loadin.load_in}}
                        </div>
                        <div class="flex m-2 text-lg">
                            <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 my-auto mr-2" fill="none"
                                viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M11 19l-7-7 7-7m8 14l-7-7 7-7" />
                            </svg>
                            {{loadin.load_out}}
                        </div>
                    </div>
                    {% endfor %}
                    <div class="w-4 text-transparent bg-transparent"><p>.</p></div>
                </div>
            </div>
        </div>
    </div>
    <div class="max-w-[100vw] mx-auto flex flex-col sm:max-w-lg">
        <h1 class="mx-4 text-3xl">
            Systems Rented
        </h1>
        <div class="relative">
            <div class="absolute top-0 bottom-0 left-0 pointer-events-none -right-1" style="background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 3%, rgba(255,255,255,0) 97%, rgba(0,0,0,1) 100%);"></div>
            <div class="my-auto overflow-x-auto">
                <div class="flex my-4 space-x-4 sm:m-4">
                    <div class="w-4 text-transparent bg-transparent"><p>.</p></div>
                    {% for system in gig.systeminstance_set.all %}
                    <div class="flex flex-col p-4 mx-auto text-black bg-white rounded-sm">
                        <h3 class="text-2xl text-center">{{system.system.get_department_display}}</h3>
                        <h3 class="text-lg text-center ">{{system.system.name}}</h3>
                        {% if system.addons %}
                        <ul class="text-center">
                            {% for addon in system.addoninstance_set.all %}
                            <li>+ {{addon.addon}} ({{addon.qty}})</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        <a href="{% url 'equipment:report' system.system.pk %}"
                            class="mx-auto mt-auto mb-2 text-sm font-bold text-center underline">Report Broken</a>
                    </div>
                    {% endfor %}
                    <div class="w-4 text-transparent bg-transparent"><p>.</p></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="max-w-5xl mx-2 mt-10 lg:mx-auto">
    {% unicorn 'employeeList' show=gig.id my_job=my_job %}
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="{% static 'js/jquery.formset.js' %}" type="text/javascript"> </script>

{% if my_job|isEngineer and not gig.archived or request.user|has_group:"Manager" %}
<div class="max-w-5xl mx-2 mt-10 lg:mx-auto">
    <h1 class="mx-4 text-3xl"> Day of Show </h1>
    <div class="my-2">
        <form method="POST">
            {% csrf_token %}
            {% for name, job_formset in forms.items %}
            {% if name == 'show_notes' %}
            <div class="my-2">
                <div class="p-4 my-4 vibg-gray-700">
                    <h2 class="text-xl">Engineer's Notes</h2>
                    <p>{% translate "Anything out of the ordinary? Notes about the show?" %}</p>
                    <code class="text-xs">{% translate "IF OVERTIME WAS REQUIRED FOR THIS SHOW: PLEASE NOTE IT HERE." %}</code>
                    <div class="flex p-2 my-2 space-x-4 bg-red-700 rounded-sm">
                        <div class="w-6 h-6 my-auto">
                            <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                        </svg>
                        </div>
                        <p>
                            {% translate "Broken equipment should always be reported, but this is not the place! Hit the 'Report issue' link under the broken system in question." %}
                        </p>
                    </div>
                    {% crispy forms.show_notes %}
                </div>
            </div>
            {% else %}
                {% if job_formset.employee != None %}
                <div class="p-4 my-4 bg-gray-700">
                    {% with thejob=job_forms|get_item:name%}
                        <p class="text-xl">{{job_formset.employee}} - <sub>{{thejob.position}}</sub></p>
                    {% endwith %}
                    <div id="{{job_formset.form.prefix}}">
                        {{ job_formset.form.management_form|crispy }}
                        {% for form in job_formset.form.forms %}
                        <div
                            class="{% cycle 'row1' 'row2' %} formset row-{{job_formset.form.prefix}} flex">
                            <div class="flex flex-col space-y-2 md:flex-row md:space-y-0 md:space-x-2">
                                {% for field in form.visible_fields %}
                                <div>
                                    {# Include the hidden fields in the form #}
                                    {% if forloop.first %}
                                    {% for hidden in form.hidden_fields %}
                                    {{ hidden }}
                                    {% endfor %}
                                    {% endif %}
                                    {{ field.errors.as_ul }}
                                    {{ field|as_crispy_field }}
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <script type="text/javascript">
                        $('.row-{{job_formset.form.prefix}}').formset({
                            addText: 'Add Shift',
                            deleteText: '✕',
                            deleteCssClass: 'delete-row my-auto bg-black w-min px-4 py-2',
                            prefix: '{{ job_formset.form.prefix }}',
                            hideLastAddForm: true,
                        });;
                    </script>
                </div>
                {% else %}
                <div class="hidden">
                    {% crispy job_formset.form helper %}
                </div>
                <div class="relative flex-col px-4 pt-4 pb-20 my-4 bg-gray-700 flex-">
                    <p>This job isn't assigned to an employee...</p>
                    <sup>bro you doing this by yourself???</sup>
                    <img class="absolute right-0 w-20 h-20" src="{% static 'gig/img/wat.png' %}" alt="Wut" />
                </div>
                {% endif %}
            {% endif %}
            {% endfor %}
            <button class="m-2 bg-[#009961] py-4 px-2" type="submit">Update day of show</button>
        </form>
        <div>
            <div class="flex flex-col p-4 text-black bg-red-300">
                <p class="text-lg font-bold">
                    Ready to go home?
                </p>
                <p class="text-md">
                    Awesome! Be sure to fill out the Post Event Check-In form. It takes no more than 45 seconds and makes sure that everyone at BSSL is in a positive work environment. Problems with the event, event coordinator, or fellow employee; report them here. Your responses are private!
                </p>
                <a class="mx-auto" target="_blank" href="https://bssl.binghamtonsa.org/peci"><button class="px-8 py-4 m-4 text-white bg-black">Post Event Check-In form</button></a>
            </div>
        </div>
    </div>
</div>
<style>
    label {
        color: white !important;
    }

    .add-row {
        padding: 1rem;
        background-color: #009961;
        display: block;
        width: max-content;
        margin: .5rem 0;
    }

    @media (min-width: 768px) { 
        .delete-row {
            margin-bottom: .75rem;
        }
     }

    .delete-row {
        margin-left: .5rem;
        height: max-content;
        
    }
</style>
{% elif my_job %}
<div class="max-w-5xl mx-2 mt-10 lg:mx-auto">
    <h1 class="mx-4 text-3xl">My shifts:</h1>
    <div class="flex flex-col p-4 my-4 text-black bg-white">
        {% for a_job in my_jobs %}
        {% if not gig.archived %}
            <div class="w-full">
                {% unicorn 'gigShift' job=a_job %}
            </div>
        {% endif %}
        {% endfor %}
        {% if not gig.archived %}
            <div class="m-4">
                <div class="flex flex-col p-4 text-black bg-red-300">
                    <p class="text-lg font-bold">
                        Ready to go home?
                    </p>
                    <p class="text-md">
                        Awesome! Be sure to fill out the Post Event Check-In form. It takes no more than 45 seconds and makes sure that everyone at BSSL is in a positive work environment. Problems with the event, event coordinator, or fellow employee; report them here. Your responses are private!
                    </p>
                    <a class="mx-auto" target="_blank" href="https://bssl.binghamtonsa.org/peci"><button class="px-8 py-4 m-4 text-white bg-black">Post Event Check-In form</button></a>
                </div>
            </div>
        {% endif %}
        {% if not my_job|isEngineer %}
            <div class="flex p-2 my-2 mt-5 space-x-2 bg-blue-300 rounded">
                <div class="my-auto">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-blue-400" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8.228 9c.549-1.165 2.03-2 3.772-2 2.21 0 4 1.343 4 3 0 1.4-1.278 2.575-3.006 2.907-.542.104-.994.54-.994 1.093m0 3h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>
                </div>
                <p class="">Something not look right? Contact the engineer for this show and they'll be able to make any changes required through their version of this page.</p>
            </div>
        {% endif %}
        {% for a_job in my_jobs %}
        <h3 class="pt-4 text-xl text-center">{{a_job.position}}</h3>
        {% for shift in a_job.shifts.all %}
        <div class="flex m-4 border-2 border-black rounded">
            <div class="flex flex-col ml-4 mr-auto">
                <span>{{shift.time_in}}</span>
                <span>{{shift.time_out}}</span>
            </div>
            <div class="flex flex-col ml-auto mr-4">
                {% if shift.time_out %}
                <span>{{shift.total_time|duration}}</span>
                <span>${{shift.cost|floatformat:2}}</span>
                {% else %}
                <span>Ongoing</span>
                <span>$TBD</span>
                {% endif %}
            </div>
        </div>
        {% endfor %}
        {% endfor %}
    </div>   
    </div>
{% endif %}
{% if my_job %} {% unicorn 'bingoBoard' board_id=bingo_board.pk %} {% endif %}
{% endblock %}
