{% extends "base.html" %}
{% load static %}
{% load grouping %}

{% block title %}
Punch In/Out
{% endblock %}

{% block headincludes %}
<link rel="stylesheet" href="{% static 'gig/css/punch.css' %}"/>
<script src="{% static 'gig/js/punch.js' %}"></script>
{% endblock %}

{% block content %}
<div class="section">
    <span class="title">
        Punch In/Out
    </span><br>
    Note: Only shifts that have not be processed by payroll are shown
    {% if user|has_group:"Manager" %}
    <form  method="POST" action="{% url 'gig:punch'%}">
        {% csrf_token %}
        <span class="title">Manager "Office Hours"</span>
        <div>
            <table class="uk-table uk-table-divider">
                <thead>
                    <tr>
                        <th>Time in</th>
                        <th>Time Out</th>
                        <th>Duration</th>
                    </tr>
                </thead>
                <tbody>
                    {% for obj in shifts %}
                    <tr id="shfit-{{obj.id}}">
                        <td>
                            <input name="{{obj.id}}-in" class="uk-input" value="{{obj.time_in|date:'o-m-d\TH:i'}}" type="datetime-local"/>
                        </td>
                        <td>
                            <input name="{{obj.id}}-out" class="uk-input" value="{{obj.time_out|date:'o-m-d\TH:i'}}" type="datetime-local"/>
                        </td>
                        <td>
                            {{obj.total_hours}} Hrs
                        </td>
                    </tr>
                    {% endfor %}
                    <tr id="add_new-{{user.id}}">
                        <td></td>
                        <td></td>
                        <td>
                        <button onclick="add_row({{user.id}})" type="button" class="add-row uk-button uk-button-default">Add new shift</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <input type="submit" class="uk-button" value="Update"/>
    </form>
    {% endif %}
</div>
{% endblock %}