{% extends "base.html" %}
{% load static %}
{% load employee_type %}
{% load grouping %}

{% block title %}
All Gigs
{% endblock %}

{% block headincludes %}
<link rel="stylesheet" href="{% static 'gig/css/signup.css' %}"/>
<script src="{% static 'gig/js/signup.js' %}"></script>
{% endblock %}

{% block content %}
<div class="section">
    <div class="title">Sign up for upcoming gigs!</div>
    <div style="color: #FFF; display: grid;"><span>Your updates are saved automatically!</span> <span>(You can click on a notification to dismiss it)</span></div>
    {% if not gigs %}
    <br><br><span class="title">There are no gigs coming up in the next 7 days. Go yell at some manager for leaving this open and tricking you into no gigs 😡</span>
    {% endif %}
    {% for gig in gigs %}
        {% if gig|hasEmptyEmps %}
            <div class="uk-card uk-card-default uk-card-body uk-width-1-2@m gig">
                <h3 class="uk-card-title">{{gig.org}} - {{gig.name}}</h3>
                <div class="info">
                    <span class="date">{{gig.start|date:"n/j/y"}}</span>
                    <span class="time">{{gig.start|date:"P"}} - {{gig.end|date:"P"}}</span>
                    {% if gig.load_in_lighting == gig.load_in_sound %}
                        Load in: {{gig.load_in_lighting|date:"P"}}<br>
                        Load out: {{gig.load_out_lighting|date:"P"}}
                        {% else %}
                        <div>
                            <div class="time">Load in (Lighting): {{gig.load_in_lighting|date:"P"}}</div>
                            <div class="time">Load in (Sound): {{gig.load_in_sound|date:"P"}}</div>
                            <div class="time">Load out (Lighting): {{gig.load_out_lighting|date:"P"}}</div>
                            <div class="time">Load out (Sound): {{gig.load_out_sound|date:"P"}}</div>
                        </div><hr><br>
                    {% endif %}
                    <span class="date">Location: {{gig.location}}</span>
                    {% if gig.notes %}<div class="notes">Notes: <kbd>{{gig.notes}}</kbd> </div>{% endif %}
                    <b>Positions Available:</b>
                {% for emp in gig.employees %}
                    {% if emp.linked_employee == None %}
                        {% if request.user|has_group:emp.get_department_display %}
                            {% if request.user|has_group:emp.employee_type %}
                                <span class="open_spot"> <input {% if emp.isIntersted %}checked{% endif %} class="uk-checkbox" id="{{emp.id}}-checkbox" type="checkbox"/> <label for="{{emp.id}}-checkbox"><div>{{emp.employee_type}}</div></label> </span>
                            {% elif request.user|has_group:"Probie - Sound" and emp.department == "S" or request.user|has_group:"Probie - Lights" and emp.department == "L"%}
                                <span class="open_spot"> <input disabled class="uk-checkbox" id="{{emp.id}}-checkbox" type="checkbox"/> <label for="{{emp.id}}-checkbox"><div>{{emp.employee_type}}</div></label> <span>( You have to probie a show first! 😞)</span> </span>
                            {% elif emp.employee_type.name != "Probie - Sound" and emp.employee_type.name != "Probie - Lighting" %}
                                <!-- <span class="open_spot"> <input {% if emp.isIntersted %}checked{% endif %} class="uk-checkbox" id="{{emp.id}}-checkbox" type="checkbox"/> <label for="{{emp.id}}-checkbox"><div>Make this my {{emp.employee_type}} test</div></label> </span> -->
                            {% endif %}
                        {% else %}
                        <!-- <span class="open_spot"> <input disabled class="uk-checkbox" id="{{emp.id}}-checkbox" type="checkbox"/> <label for="{{emp.id}}-checkbox"><div>{{emp.employee_type}}</div></label> <span>( Unavailable to you 😞)</span> </span> -->
                        {% endif %}
                    {% endif %}
                {% endfor %}
                </div>
            </div>
        {% else %}
            <div class="uk-card uk-card-default uk-card-body uk-width-1-2@m gig">
                <h3 class="uk-card-title">{{gig.org}} - {{gig.name}}</h3>
                <div class="info">
                    <span class="date">{{gig.load_in|date:"n/j/y"}}</span>
                    <span class="time">{{gig.load_in|date:"P"}} - {{gig.load_out|date:"P"}}</span>
                    <span class="date">{{gig.location}}</span>
                    {% if gig.notes %}<span class="notes">Notes: <kbd>{{gig.notes}}</kbd> </span>{% endif %}
                    <b>All available positions have been filled for this gig :(</b>
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>
<br><br>
<div id="groups" class="section" uk-grid="masonry: true">
    <p>As a reminder. You can currently sign up for the following positions: </p>
    {% for group in request.user.groups.all %}
        <div class="uk-badge">{{group}}</div>
    {% endfor %}
</div>
{% endblock %}